@inject IClerkAuthService AuthService
@inject IJSRuntime JS

<div @ref="elementRef"></div>

@code {
    private ElementReference elementRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("clerkInterop.mountSignIn", elementRef);
        }
    }
}
