@inject IClerkAuthService AuthService
@inject IJSRuntime JS

@if (!isSignedIn)
{
    <div @ref="elementRef"></div>
}

@code {
    private ElementReference elementRef;
    bool isSignedIn;
    bool mounted;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isSignedIn = await AuthService.IsUserSignedInAsync();
            StateHasChanged();

            if (!isSignedIn && !mounted)
            {
                await JS.InvokeVoidAsync("clerkInterop.mountSignIn", elementRef);
                mounted = true;
            }
        }
    }
}
