@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SignedIn>
    <UserButton />
    <h3>Welcome back!</h3>
</SignedIn>

<SignedOut>
    <SignIn />
    <h3>Please sign in</h3>
</SignedOut>
