@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SignedIn>
    <h3>Welcome back!</h3>
    <UserButton />
</SignedIn>

<SignedOut>
    <SignIn />
</SignedOut>
